

*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    width: 100vw;
    background-color:white;
    overflow: hidden; 

}
.HDR{
    height: 50px;
    
    background-color:white;
   
}
.ITEM{
    background-color: whitesmoke;
    height: 650px;
    margin-left:  106px;

}
.input{
    position: relative;
    left: 208px;
    top: 100px;
    width: 729px;
    height: 34px;
    border-radius: 10px;
    color: white;
    border-color: white;
    border: none;
}
.upload{
    height: 100px;
    width: 100px;
    background-color: white;
    position: relative;
    left: 300px;
    top: 125px;
}
.upload11{
    position: relative;
    left: 20px;
    top: 30px;
}
#SDBR{
    position: fixed;
    width: 7%;
    height: 100%;
    background-color:#fff;
    border-right: 2px solid whitesmoke;
    box-shadow: 5px 5px 5px 5px rgb(235, 235, 235)
    

    
    
}
#SDBR li{
    color:black;
    font-size: 20px;
    padding-bottom: 70px;
    align-items: center;
    border-bottom: 2px solid whitesmoke;
    
    border-right: none;

}
#SDBR .sdbr1 li:hover{
    background-color: #3498db;
    border-left:5px solid blue ;
}
.sdbr1{
    list-style-type: none;

}
#SDBR ul li{
    padding: 14px;
}
span{
    padding-right: 50px;
    font-size: 10px;
}

.ITEM i{
    color: gray;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 10px;
}
p{
    position: relative;
    left: 630px;
    top: 120px;
}